:root{
    --normal-dm-background: #ddf4ff;
    --fleet1-dm-background: #00D1F1;
    --fleet2-dm-background: #E17AFF;
    --fleet3-dm-background: #FF7C28;
    --admin-dm-background: #f22c3d;
    --system-dm-background: #2AC864;
}

body{
    display: flex;
    height: 100%;
}

#control-panel{
    display: flex;
    right: 5px;
    position: fixed;
    flex-direction: column;
    transition: 0.3s;
    opacity: 0;
}

#control-panel:hover{
    opacity: 1;
}

#room-id{

}

#background{

}

#danmaku-list{
    height: 100%;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    width: 500px;
}

.control-panel-block{
    display: flex;
    margin: 10px 25px;
    padding: 15px;
    border-radius: 25px;
    background: rgba(227, 229, 231, 0.8);
}

.control-panel-block-input {
    display: flex;
    margin: 10px;
    /*font-size: 18px;*/
    flex-direction: column;
}

.control-panel-block-title{
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.room-input {
    margin-left: 30px;
    flex: 1;
    display: flex;
}

.room-input input {
    border-bottom: 1px solid var(--bili-blue);
    border-left: none;
    border-right: none;
    border-top: none;
    width: 100%;
    transition: 0.2s;
    background: #fff;
    z-index: 2;
    flex: 1;
    background-color: rgba(0,0,0,0);
}

.room-input input:focus-visible {
    border-bottom: 3px solid var(--bili-blue);
    border-left: none;
    border-right: none;
    border-top: none;
    outline: none;
}

.room-input #add-room {
    border-radius: 15px;
    height: 30px;
    background: var(--bili-blue);
    display: flex;
    justify-content: center;
    line-height: 30px;
    min-width: 50px;
    margin-left: 10px;
    transition: 0.3s;
    user-select: none;
    cursor: pointer;
}

.room-input #add-room:hover {
    opacity: 0.8;
}

.rua-dm-item{
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.rua-dm-name-tag{
    display: flex;
}

.rua-dm-danmaku-content{
    font-size: 18px;
    border-radius: 0 25px 25px 25px;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    justify-items: center;
}

.rua-dm-danmaku-content.privilege-0{
    background: var(--normal-dm-background);

}

.rua-dm-danmaku-content.privilege-1{
    background: var(--fleet1-dm-background);
    color: #fff;
}

.rua-dm-danmaku-content.privilege-2{
    background: var(--fleet2-dm-background);
    color: #fff;
}

.rua-dm-danmaku-content.privilege-3{
    background: var(--fleet3-dm-background);
}

.rua-dm-danmaku-content.system-dm{
    background: var(--system-dm-background);
    color: #fff;
}

.rua-dm-danmaku-content .emoji{

    height: 60px;
}

.rua-dm-danmaku-content .intext-emoji{
    width: 18px;
    height: 18px;
}

.rua-dm-content{
    display: flex;
}