#emoji-popup {
    width: 50px;
    height: 50px;
    background-repeat:no-repeat;
    background-position:center;
    background-size: 100% 100%;
    position: absolute;
    z-index: 999999;
}

#emoji-selection{
    width: 150px;
    height: 350px;
    background-color: #fff;
    position: absolute;
    display: none;
    z-index: 999999;
    border-radius:5px;
    overflow-y: scroll;
    text-align: center;
}

#emoji-selection::-webkit-scrollbar{
    width: 10px;
    height: 10px;
}

#emoji-selection::-webkit-scrollbar-thumb{
    border-radius:5px;
}

#emoji-selection table{
    margin: 0 auto;
}

#emoji-selection td{
    width: 60px;
    height: 60px;
}
#load{
    margin: auto;
    text-align: center;
    vertical-align: middle;
}