@keyframes fade-in {
    0% {opacity: 0.0}
    50% {opacity: 0.5}
    100% {opacity: 1.0}
}

@keyframes fade-out {
    0% {opacity: 1.0}
    50% {opacity: 0.5}
    100% {opacity: 0.0}
}

@keyframes click-in {
    0% {width: 52px; height: 52px; transform: translate(-1px, -1px);}
    50% {width: 50px; height: 50px;transform: translate(0px, 0px);}
    100% {width: 46px; height: 46px;transform: translate(2px, 2px);}
}

@keyframes click-out {
    0% {width: 46px; height: 46px;transform: translate(2px, 2px);}
    50% {width: 50px; height: 50px;transform: translate(0px, 0px);}
    100% {width: 52px; height: 52px; transform: translate(-1px, -1px);}
}

@keyframes hover-in {
    0% {width: 50px; height: 50px;transform: translate(0px, 0px);}
    100% {width: 52px; height: 52px; transform: translate(-1px, -1px);}
}

@keyframes hover-out {
    0% {width: 52px; height: 52px; transform: translate(-1px, -1px);}
    100% {width: 50px; height: 50px;transform: translate(0px, 0px);}
}

.selection-fade-in{
    animation-name: fade-in;
    animation-duration: 0.15s;
}

.selection-fade-out{
    animation-name: fade-out;
    animation-duration: 0.15s;
}

.popup-click-hoverin{
    animation-name: hover-in;
    animation-duration: 0.1s;
    animation-fill-mode: forwards;
}

.popup-click-hoverout{
    animation-name: hover-out;
    animation-duration: 0.1s;
    animation-fill-mode: forwards;
}

.popup-click-in{
    animation-name: click-in;
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
}

.popup-click-out{
    animation-name: click-out;
    animation-duration: 0.2s;
    animation-fill-mode: forwards;

}


#emoji-popup {
    width: 50px;
    height: 50px;
    background-repeat:no-repeat;
    background-position:center;
    background-size: 100% 100%;
    position: absolute;
    z-index: 9999999;
}

#emoji-selection{
    width: 150px;
    height: 350px;
    background-color: #fff;
    position: absolute;
    z-index: 9999999;
    border-radius:5px;
    overflow-y: scroll;
    text-align: center;
}

#emoji-selection::-webkit-scrollbar{
    width: 10px;
    height: 10px;
}

#emoji-selection::-webkit-scrollbar-thumb{
    border-radius:5px;
}

#emoji-selection table{
    margin: 0 auto;
}

#emoji-selection td{
    width: 60px;
    height: 60px;
}

#load{
    margin-top: 170px;
    text-align: center;
    vertical-align: middle;
}