body{
    overflow: hidden;
}

.video-container{
    display: flex;
    background-color: #000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    flex-direction: column;
}

.liveroom-icon{
    cursor: pointer;
}

.liveroom-icon path{
    fill: #fff;
    opacity: 0.8;
    filter: blur(3px);
}

.control-panel{
    z-index: 9;
    padding: 10px;
}

.add-room{
    width: 10%;
    height: 10%;
    position: absolute;
    left: 45%;
    top: 45%;
    transition: 0.3s;
    opacity: 0;
}

.control-bar{
    display: flex;
    width: 100%;
    height: 5%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    min-height: 40px;
    max-height: 50px;
}

.add-room-panel{
    width: 36%;
    height: 36%;
    background: #fff;
    position: absolute;
    top: calc(50% - 18%);
    left: calc(50% - 18%);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}

.panel-title{
    color: var(--bili-blue);
    margin: 10px 20px;
    font-size: 26px;
}

.room-id-input{
    display: flex;
    margin: 10px 40px;
    font-size: 18px;
}

.room-input{
    margin-left: 30px;
    flex: 1;
}

.room-input input{
    border-bottom: 1px solid var(--bili-blue);
    border-left: none;
    border-right: none;
    border-top: none;
    width: 100%;
    transition: 0.2s;
}

.room-input input:focus-visible{
    border-bottom: 2px solid var(--bili-blue);
    border-left: none;
    border-right: none;
    border-top: none;
    outline: none;
}

.following-room{
    display: flex;
    flex-direction: column;
    margin: 10px 40px;
    overflow: scroll;
}

.following-block-title{
    font-size: 18px;
}

.following-block{
    flex: 1;
    display: flex;
    margin-top: 10px;
    flex-direction: column;
    overflow: scroll;
}

.following-liver{
    display: flex;
    margin: 5px 10px;
    cursor: pointer;
}

.following-liver:hover span{
    color: var(--bili-blue);
}

.user-face{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.user-face img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.following-room-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.following-room-info span{
    margin: 5px 20px;
    transition: 0.2s;
}

.room-title{
    font-size: 16px;
    line-height: 16px;
    text-align: center;

}

.panel-container{
    z-index: -1;
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
}

.video-stream{
    height: 100%;
}

.video-stream video{
    width: 100%;
    height: 100%;
    /*pointer-events: none;*/
}

video{
    background: #000;
}


.video-container-colum{
    display: flex;
    flex:1;
    justify-content: center;
    height: 100%;
}

/*.video-player-control{*/
/*    width: 100%;*/
/*    height: 10%;*/
/*    background-color: #0f0;*/
/*    position: absolute;*/
/*    bottom: 0;*/
/*}*/

.control-area{
    position: absolute;
    bottom: 3px;
    left: 0;
    right: 0;
    padding: 0 12px;
    color: #fff;
    height: 36px;
    font-size: 12px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}

.control-area .left, .control-area .right{
    height: 100%;
    display: flex;
}

.control-area .volume{
    position: relative;
}

.control-area .volume-control{
    position: absolute;
    left: 50%;
    transform: translate(-50%, -100%);
    opacity: 0.9;
    background-color: rgba(33, 33, 33, 0.9);
    color: rgba(255, 255, 255, 0.9);
    border-radius: 4px;
    z-index: 100;
    height: 100px;
}

.control-area .volume-control .vertical-slider{
    height: 100%;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    padding: 8px 6px;
    opacity: 0.9;
    background: #212121;
    border-radius: 4px;
    box-sizing: border-box;
}

.control-area .volume-control .vertical-slider .number{
    flex-shrink: 0;
    margin-bottom: 5px;
    width: 20px;
    text-align: center;
    color: #e5e9ef;
}

.control-area .volume-control .vertical-slider .slider-rail{
    width: 2px;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    position: relative;
    padding: 0 4px;
    background: #e7e7e7;
    background-clip: content-box;
    border-radius: 2px;
    cursor: pointer;
}

.control-area .volume-control .vertical-slider .slider-rail .slider-handle{
    transition: top 0.2s ease-in-out;
    width: 12px;
    height: 12px;
    position: absolute;
    left: 50%;
    z-index: 1;
    transform: translateX(-50%);
    border-radius: 50%;
    background-color: #00a1d6;
}

.control-area .volume-control .vertical-slider .slider-rail .slider-track{
    transition: height 0.2s ease-in-out;
    position: absolute;
    bottom: 0;
    width: 2px;
    background-color: #00a1d6;
}

.control-area .icon{
    display: inline-block;
    width: 36px;
    height: 36px;
    cursor: pointer;
}

.control-area .icon svg{
    fill: rgba(255,255,255,0.9);
}

.control-area .icon svg:hover{
    fill: #fff;
}