::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    transition: 0.3s;
    border-left: 0 solid rgba(128, 128, 128, 0.3);
    border-right: 0 solid rgba(128, 128, 128, 0.3);
}

::-webkit-scrollbar:hover {
    width: 10px !important;
    height: 10px;
    border-left: 1px solid rgba(128, 128, 128, 0.3);
    border-right: 1px solid rgba(128, 128, 128, 0.3);
}

::-webkit-scrollbar-thumb {
    border-radius: 6px;
    transition: 0.3s;
    background-color: rgba(50, 50, 50, 0.5);
}

::-webkit-scrollbar-thumb:active {
    background-color: rgba(50, 50, 50, 0.8);
}

::-webkit-scrollbar:hover::-webkit-scrollbar-thumb {
    border-radius: 8px;
}

:root {
    --number-of-row: 1;
    --number-of-column: 1;
}

::placeholder {
    color: #fff;
}

body {
    overflow: hidden;
}

video {
    background: #000;
}

a{
    text-decoration: none;
    color: inherit;
    transition: 0.2s;
}

a:hover{
    color: var(--bili-blue);
}

.video-container {
    background-color: #000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow: hidden;
}


.liveroom-icon path {
    fill: #fff;
    filter: blur(3px);
}

.control-panel {
    z-index: 999;
    margin: 5px;
    cursor: pointer;
    transition: 0.3s;
    max-width: 40px;
    max-height: 40px;
}

.control-bar {
    opacity: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 5%;
    min-height: 40px;
    max-height: 50px;
    position: absolute;
    display: flex;
    justify-content: space-between;
}

.add-room-panel, .setting-panel {
    background: #fff;
    top: min(calc(50% - 18%), calc(50% - 203px));
    left: min(calc(50% - 18%), calc(50% - 360px));
    width: 36%;
    height: 36%;
    min-width: 720px;
    min-height: 405px;
    border-radius: 20px;
    position: absolute;
    display: flex;
    flex-direction: column;
}

.setting-panel .following-room {
    margin: 10px 30px 35px;
}

.panel-title {
    color: var(--bili-blue);
    margin: 10px 20px;
    font-size: 26px;
}

.room-id-input {
    display: flex;
    margin: 10px 40px;
    font-size: 18px;
}

.room-input {
    margin-left: 30px;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.room-input input {
    border-bottom: 1px solid var(--bili-blue);
    border-left: none;
    border-right: none;
    border-top: none;
    width: 100%;
    transition: 0.2s;
    background: #fff;
    z-index: 2;
    flex: 1;
}

.room-input input:focus-visible {
    border-bottom: 3px solid var(--bili-blue);
    border-left: none;
    border-right: none;
    border-top: none;
    outline: none;
}

.following-room {
    display: flex;
    flex-direction: column;
    margin: 10px 40px;
    overflow: scroll;
}

.following-block-title {
    font-size: 18px;
}

.following-block {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow: scroll;
}

.following-liver {
    margin: 5px 10px;
    display: flex;
    cursor: pointer;
    transition: 0.3s;
}

.following-liver:hover span {
    color: var(--bili-blue);
}

.following-liver:hover .user-add-num {
    opacity: 1;
}

.following-liver:hover .user-face, .following-liver:hover .following-room-info{
    transform: none;
}

.user-face {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    transition: 0.3s;
    transform: translateX(-30px);
}

.user-face img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.following-room-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 0.3s;
    transform: translateX(-30px);
    margin-left: 10px;
}

.following-room-info span {
    margin: 5px 5px;
    transition: 0.2s;
}

.room-title {
    font-size: 16px;
    line-height: 16px;
}

.panel-container {
    z-index: -1;
    width: 100%;
    height: 100%;
    position: absolute;
    display: none;
}

.video-stream {
    height: calc(var(--number-of-row) * 100%);
    width: calc(var(--number-of-column) * 100%);
    position: relative;
}

.video-stream video {
    width: 100%;
    height: 100%;
    /*pointer-events: none;*/
}

.control-area {
    color: #fff;
    bottom: 3px;
    left: 0;
    right: 0;
    height: 36px;
    padding: 0 12px;
    font-size: 12px;
    position: absolute;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}

.control-area .left, .control-area .right {
    height: 100%;
    display: flex;
}

.control-area .volume {
    position: relative;
}

.control-area .volume-control {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -100%);
    opacity: 0.9;
    background-color: rgba(33, 33, 33, 0.9);
    color: rgba(255, 255, 255, 0.9);
    border-radius: 4px;
    z-index: 100;
    height: 100px;
}

.control-area .volume-control .vertical-slider {
    height: 100%;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    padding: 8px 6px;
    opacity: 0.9;
    background: #212121;
    border-radius: 4px;
    box-sizing: border-box;
}

.control-area .volume-control .vertical-slider .number {
    flex-shrink: 0;
    margin-bottom: 5px;
    width: 20px;
    text-align: center;
    color: #e5e9ef;
}

.control-area .volume-control .vertical-slider .slider-rail {
    width: 2px;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    position: relative;
    /*padding: 0 4px;*/
    background: #e7e7e7;
    background-clip: content-box;
    border-radius: 2px;
    cursor: pointer;
}

.control-area .volume-control .vertical-slider .slider-rail .slider-handle {
    transition: top 0.2s ease-in-out;
    width: 12px;
    height: 12px;
    position: absolute;
    left: 50%;
    z-index: 1;
    transform: translateX(-50%);
    border-radius: 50%;
    background-color: #00a1d6;
}

.control-area .volume-control .vertical-slider .slider-rail .slider-track {
    transition: height 0.2s ease-in-out;
    position: absolute;
    bottom: 0;
    width: 2px;
    background-color: #00a1d6;
}

.control-area .icon {
    display: inline-block;
    width: 36px;
    height: 36px;
    cursor: pointer;
}

.control-area .icon svg {
    fill: rgba(255, 255, 255, 0.9);
}

.control-area .icon svg:hover {
    fill: #fff;
}

.control-area .right {
    -webkit-box-flex: 1;
    flex: 1;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    flex-direction: row-reverse;
}

.rua-cross rect {
    transform-origin: center;
}

.danmaku {
    display: flex;
    align-items: center;
    bottom: 5px;
    left: 50%;
    height: 32px;
    width: 60%;
    max-width: 605px;
    line-height: 32px;
    border-radius: 2px;
    background-color: rgba(255, 255, 255, .4);
    position: absolute;
    transform: translateX(-50%);
    z-index: 14;
}

.input-container {
    position: relative;
    flex: 1 1 0;
}

.danmaku .input-container input {
    height: 100%;
    width: 100%;
    color: #fff;
    font-size: 12px;
    box-sizing: border-box;
    padding: 8px 8px 10px;
    outline: 0;
    background: 0 0;
    border-width: 0;
}

.danmaku .input-container span {
    color: rgb(211, 218, 223);
    right: 8px;
    position: absolute;
    user-select: none;
}

.send-danmaku {
    flex-shrink: 0;
    width: 60px;
    height: 100%;
    cursor: pointer;
    color: #fff;
    text-align: center;
    background-color: rgb(35, 173, 229);
}

.emoji-bg {
    opacity: 0;
    z-index: -1;
    height: 160px;
    width: 100%;
    position: absolute;
}

.emoji-sec {
    /*display: block;*/
    height: 120px;
    width: 100%;
    bottom: 40px;
    background-color: rgb(34, 34, 34);
    opacity: 0.3;
    position: absolute;
    z-index: 15;
    border-radius: 5px;
    transition: all 0.5s ease 0s;
    text-align: center;
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
}

.emoji-sec:hover, .danmaku:hover .emoji-sec {
    opacity: 0.9;
}

.emoji-sec table {
    margin: 0 auto;
}

.emoji-sec tbody {
    vertical-align: middle;
}

.emoji-sec td {
    width: 60px;
    height: 60px;
    position: relative;
}

.emoji-sec .rua-emoji-icon {
    background-size: contain;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    transition: all 0.2s ease-in-out 0s;
}

.emoji-sec .rua-emoji-icon-active {
    transition: 0.2s;
}

.emoji-sec .rua-emoji-icon-active:hover {
    transform: scale(1.1);
}

.emoji-sec .rua-emoji-icon-active:active {
    transform: scale(0.9);
}

.emoji-sec .rua-emoji-icon-inactive {
    opacity: 0.3;
}

.emoji-sec .rua-emoji-requirement {
    top: 0;
    right: 0;
    position: absolute;
    color: #fff;
    background-color: #ff6699;
    font-size: 10px;
    height: 12px;
    line-height: 12px;
    text-align: center;
    white-space: nowrap;
    max-width: 80%;
    user-select: none;
    border-radius: 2px;
}

.emoji-sec .rua-table-header {
    user-select: none;
    font-size: 13px;
    text-align: left;
    color: rgb(153, 153, 153);
}

.room-input ::placeholder {
    color: #343434 !important;
}

.error-msg {
    font-size: 12px !important;
    color: var(--stress_red);
    position: absolute;
    transform: translateY(-15px);
    transition: all 0.2s ease-in-out 0s;
}

.error-input {
    border-color: var(--stress_red) !important;
}

.emoji-header {
    width: 100%;
    /* text-align: left; */
    user-select: none;
    font-size: 13px;
    text-align: left;
    color: rgb(153, 153, 153);
    font-weight: bold;
}

.rua-emoji-icon-container {
    position: relative;
    margin: 2px;
}

.button {
    margin: 15px 0;
}

.checkbox {
    position: relative;
    display: inline-block;
}

.checkbox:after, .checkbox:before {
    font-family: FontAwesome;
    -webkit-font-feature-settings: normal;
    font-feature-settings: normal;
    -webkit-font-kerning: auto;
    font-kerning: auto;
    -webkit-font-language-override: normal;
    font-language-override: normal;
    font-stretch: normal;
    font-style: normal;
    font-synthesis: weight style;
    font-variant: normal;
    font-weight: normal;
    text-rendering: auto;
}

.checkbox label {
    width: 35px;
    height: 13px;
    background: #ccc;
    position: relative;
    display: inline-block;
    border-radius: 19px;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.checkbox label:after {
    content: '';
    position: absolute;
    width: 17px;
    height: 17px;
    border-radius: 100%;
    left: 0;
    top: -2px;
    z-index: 2;
    background: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.checkbox input {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
    opacity: 0;
    cursor: pointer;
}

.checkbox input:hover + label:after {
    box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.2), 0 3px 8px 0 rgba(0, 0, 0, 0.15);
}

.checkbox input:checked + label:after {
    left: 18px;
}

.btn-disabled {
    -webkit-filter: opacity(50%);
    filter: opacity(50%);
}

.button .checkbox input:checked + label {
    background: #fd749b;
}

.button .checkbox input:checked + label:after {
    background: #fb7299;
}

.setting-container {
    display: flex;
    justify-content: space-between;
    margin: 5px 10px 5px;
}

.setting-name {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.setting-name span:first-child {
    font-size: 16px;
    font-weight: bold;
}

.setting-container label {
    height: 100%;
    line-height: 55.5px;
    text-align: center;
}

.quality-chosen {
    padding: 0 2%;
    border: 0;
    border-bottom: 2px solid #fb7299;
    scrollbar-width: thin;
    outline: 0 !important;
    transition: .4s;
    -webkit-transition: .4s;
    margin-top: 15px;
    margin-left: 25px;
    height: 25px;
}

#setting-re-try {
    border: 0;
    border-bottom: 2px solid #fb7299;
    outline: 0 !important;
    transition: .4s;
    -webkit-transition: .4s;
    margin-top: 15px;
    margin-left: 25px;
    height: 25px;
    width: 40px;
    padding: 0;
    text-align: center;
}

.button {
    width: unset !important;
    padding: 0 !important;
}

input[type=radio] {
    appearance: none;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    border: 2px solid #fb7299;
    transition: 0.2s all linear;
    margin-top: 19.5px;
}

input[type=radio]:checked {
    border: 5px solid #fb7299;
}

.rail-background {
    width: 20px;
    height: 100%;
    position: absolute;
    left: -9px;
}

.video-player {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.video-player-preview {
    z-index: 2;
}

.video-player-control {
    bottom: 0;
    position: absolute;
    width: 100%;
}

.control-bar-bg {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
    z-index: 9;
}

.video-owner-info-container{
    width: 100%;
    position: absolute;
    top: 10px;
    left: 10px;
    display: flex;
    z-index: 10;
    user-select: none;
    color: #fff;
}

.video-owner-info-container a:hover{
    color: #ddd;
}

.video-owner-info-container .owner-avatar{
    width: 60px;
    height: 60px;
    background-size: cover;
    border-radius: 50% 0 0 50%;
    background-color: rgb(35 173 229 / 85%);
    border-bottom: 1px solid rgb(255 255 255 / 85%);
    border-top: 1px solid rgb(255 255 255 / 85%);
    border-left: 1px solid rgb(255 255 255 / 85%);
}

.video-owner-info-container .owner-avatar img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.video-owner-info-container .owner-text-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(35 173 229 / 85%);
    padding: 0 15px 0 10px;
    border-radius: 0 60px 60px 0;
    border-bottom: 1px solid rgb(255 255 255 / 85%);
    border-top: 1px solid rgb(255 255 255 / 85%);
    border-right: 1px solid rgb(255 255 255 / 85%);
}

.video-owner-info-container .owner-misc{
    display: flex;
}

.video-owner-info-container .owner-misc:first-child{
    margin-right: 5px;
}

.owner-room-title{
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
}

.video-container .video-stream:first-child .video-owner-info-container{
    top: 60px;
}

.rua-emoji-header{
    line-height: 46px;
    height: 40px;
    font-size: 12px;
    background-color: #000000;
    display: flex;
    justify-content: flex-start;
    white-space: nowrap;
    position: relative;
    overflow: scroll!important;
    scrollbar-width: none;
}

.rua-emoji-header::-webkit-scrollbar {
    display: none;
}

.rua-header-item{
    color: var(--text3);
    cursor: pointer;
    width: 50px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

.rua-header-item img{
    width: 30px;
    height: 30px;
    border-radius: 4px;
}

.rua-emoji-header .active{
    background-color: #17181A;
}

.rua-emoji-item{
    position: relative;
    width: 65px;
    height: 65px;
    display: flex;
    margin-right: 5px;
    margin-bottom: 5px;
    border-radius: 4px;
    cursor: pointer;
}

.rua-emoji-item-xs{
    width: 30px;
    height: 30px;
}

.rua-emoji-item img{
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    display: block;
}

.rua-emoji-container{
    display: none;
    overflow-y: scroll;
    overflow-x: hidden;
    margin-left: 5px;
}

.rua-emoji-icon-inactive-new{
    opacity: 0.3;
}

.rua-emoji-container-show{
    display: grid!important;
    grid-template-columns: repeat(auto-fill, 65px);
    justify-content: center;
    grid-gap: 5px;
}

.rua-emoji-container-show-xs{
    grid-template-columns: repeat(auto-fill, 30px) !important;
}

.live-status-btn:hover{
    color: #ddd;
    transition: 0.2s;
}

.video-container .video-stream:first-child .video-status-info-container{
    top: 130px;
}

.video-status-info-container{
    position: absolute;
    display: block;
    z-index: 10;
    left: 10px;
    top: 80px;
    background-color: rgba(0,0,0,0.5);
    padding: 10px 20px;
    border-radius: 25px;
    color: #fff;
}

.video-status-info-container .video-status-info-row{
    min-width: 290px;
    line-height: 18px;
    font-size: 12px;
}

.video-status-info-title{
    display: inline-block;
    white-space: nowrap;
    width: 70px;
    text-align: right;
    font-weight: 500;
    margin-right: 10px;
}

.video-status-info-data{
    display: inline-block;
    min-width: 58px;
}

.sl-room-list{
    max-width: 150px;
    display: flex;
    border-radius: 20px;
    border: 1px solid #fff;
    background: #FB7299FF;
    padding: 0 10px;
    flex-direction: column;
    justify-content: center;
    user-select: none;
    margin: 7px 5px;
}

.sl-room-list:hover{
    opacity: 0.8;
}

.sl-room-list.disabled{
    opacity: 0.5;
}

.sl-room-list span{
    font-size: 12px;
    display: block;
    color: #fff;
}

.user-add-num{
    display: flex;
    width: 30px;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: 0.3s;
}

.user-add-num span{
    border-radius: 50%;
    border: 2px solid var(--bili-brand);
    color: #fff!important;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    background: #fff;
    transition: 0.3s;
    font-size: 14px;
    line-height: 16px;
}

.following-liver.selected .user-face, .following-liver.selected .following-room-info{
    transform: none;
}

.following-liver.selected .user-add-num{
    opacity: 1;
}

.following-liver.selected .user-add-num span{
    background: var(--bili-brand);
}

.add-btn-area{
    display: flex;
    margin-bottom: 10px;
    margin-right: 40px;
    justify-content: right;
    position: absolute;
    right: 0;
    bottom: 0;
}

.add-btn-area div{
    font-size: 18px;
    color: #fff;
    margin: 0 10px;
    padding: 4px 15px;
    height: 30px;
    line-height: 22px;
    border-radius: 15px;
    background: #23ADE5;
    cursor: pointer;
    user-select: none;
    transition: 0.3s;
}

.add-btn-area div:hover{
    opacity: 0.8;
}