body{
    scrollbar-width:thin;
}

body::-webkit-scrollbar{
    width: 6px;
    height: 6px;
}

body::-webkit-scrollbar-thumb{
    border-radius: 6px;
    background-color: #aaa;
}

li{
    margin: 10px 0;
}

h1, h2{
    padding-bottom: .3em;
    border-bottom: 1px solid hsla(210,18%,87%,1);
}

.bottom{
    margin: 0 75px 75px 75px;
    height: 20px;
}

.bottom div{
    cursor: pointer;
    position: relative;
    float: left;
    margin: 0 5px;
}

.bottom a{
    text-decoration: none;
}
table{
    text-align: center;
    border-collapse: collapse;
    border: 2px solid rgb(200, 200, 200);
    letter-spacing: 1px;
}

th, td{
    padding: 2px 10px;
    border: 1px solid rgb(190, 190, 190);
}

thead{
    background: #eee;
}
