:root {
    color-scheme: light dark;
    /*    for safari popup page. */
    --bili-blue: #23ADE5;
    --bili-pink: #FB7299;
    --bili-pink-a70: rgba(251, 114, 153, 0.7);
    --bili-blue-a70: rgba(35, 173, 229, 0.7);
    --personal-verify: -38px -53px;
    --organization-verify: -4px -53px;
    --non-verify: 17px -53px;
    --dark-background: rgba(41, 42, 45,1);
    --dark-background-a70: rgba(41, 42, 45, 0.7);
    --light-background: rgba(255, 255, 255,1);
    --light-background-a70: rgba(255, 255, 255, 0.7);
}

a{
    text-decoration: none;
}

body{
    min-width: 750px;
}

#main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    position: relative;
}

#rua-title{
    margin-top: -30px;
    text-align: center;
    transition: 0.4s;
}

#rua-title b{
    font-size: 28px;
}

#rua-icon-host{
    height: 90px;
    width: 100%;
    background-color: rgba(255,255,255, 0.72);
    border-bottom: 1px solid #aaa;
    min-width: 800px;
}

.rua-setting-user-block{
    width: 90%;
    padding: 20px 0;
    border-top: solid 1px #aaa;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.rua-setting-user-info{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 20px;
}

.user-face{
    overflow:visible;
    position: relative;
    border-radius: 48px;
}

.verified{
    right: -2px;
    top: 42px;
    width: 20px;
    height: 20px;
    background-image: url("../images/misc/user-auth.png");
    background-position: var(--non-verify);
    background-repeat: no-repeat;
    z-index: 9;
    position: absolute;
}

.user-face img{
    width: 60px;
    height: 60px;
    border-radius: 60px;
}
.user-name{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.user-name span, .user-name a{
    line-height: 30px;
    margin-left: 25px;
}

.user-name span{
    color: #6d757a;
}

.user-name a{
    transition: 0.15s;
    color: #000;
}

.user-name a:hover{
    color: var(--bili-blue);
}

.user-name .verify-text{
    font-size: 12px;
}

.button-host{
    padding: 0 30px;
    height: 60px;
}

.button-host span{
    line-height: 60px;
}

.button{
    line-height: 60px;
    padding: 0;
}

.rua-setting-button-group{
    width: 250px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-right: 20px;
}

.rua-head{
    /*position: fixed;*/
    z-index: 10;
    border-top: none;
    border-bottom: solid 1px #aaa;
    background: var(--light-background-a70);
    backdrop-filter: saturate(180%) blur(20px);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
}

.rua-nav-left{
    display: flex;
    margin-left: 60px;
    height: 90px;
    overflow: visible;
}

.rua-nav-left b{
    line-height: 90px;
    margin-left: 20px;
    font-size: 22px;
    user-select: none;
}

@media (prefers-color-scheme: dark) {
    #rua-icon-host{
        background-color: rgba(0, 0, 0, 0.72);
        border-bottom: none;
    }

    .rua-download-block-qn-item{
        background: var(--bili-blue);
    }

    .rua-download-add circle{
        fill: var(--bili-blue-a70);
    }

    .rua-head{
        background: var(--dark-background-a70);
    }

    .user-name a{
        color: #fff;
    }

    .user-name span{
        color: #8d959a;
    }

    .button .checkbox input:checked + label {
        background: var(--bili-blue) !important;
    }
    .button .checkbox input:checked + label:after {
        background: var(--bili-blue) !important;
    }
}

