#rua-video-info{
    height: 20px;
}

#rua-danmaku{
    width: 300px;
    height: 200px;
    margin-top: 22px;

    text-align: left;
    position: relative;
}

#rua-danmaku table{
    margin: 0 auto;
}

#emoji-selection td{
    width: 300px;
    height: 30px;
}

.rua-download-block{
    background: #FB7299;
    height: 30px;
    width: 80px;
    float: left;
    margin: 4px;
    cursor: pointer;
}

.rua-quality-des{
    color: #fff;
    padding-top: 6px;
    user-select: none;
}

.rua-danmaku{
    width: 195px;
    padding-right: 5px;
    text-overflow:ellipsis;
    white-space: nowrap;
    word-break: keep-all;
    overflow: hidden;
    cursor: pointer;
}

.rua-danmaku-content{
    height: 20px;
    width: 100%;
    display: flex;
    position: absolute;
}

.rua-danmaku-time{
    width: 45px;
    padding-right: 5px;
}

.rua-mid{
    width: 50px;
}

#emoji-selection{
    border-radius: 5px;
    box-shadow: #ddd 0 0 5px;
}

#rua-download{
    width: 300px;
    height: 80px;
    margin-top: 22px;
}

